.btn {
	text-transform: uppercase;
	color: #5C4755;
	background: #f8b984;
	border-radius: 0px;
	border: 0;
	padding: 0.8em 3em;
	margin-top: 1em;
	transition: all linear .2s;
	letter-spacing: 2px;
	font-size: 16px;
	font-weight: bold;
}
.btn:hover, .btn:active, .btn:focus {
  background: #BF8D67;
  color: #5C4755;
}
.alert#consult {
    background-color: #5C4856;
    margin-bottom: 0px;
    border-radius: 0;
    color: white !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    @media (max-width: 768px) {
        font-size: 16px;
    }
}
.page-section {
	padding: 70px 0;
}
.page-section#home {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
}
.page-section#home:after {
	content: "";
	background-image: asset-url('JGHeroImage.jpg');
	background-size: cover;
	background-position: center center;
	// opacity: 0.2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 
}
#home {
	.homecontent {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		max-width: 80%;
		max-height: 50%;
		margin: auto;
		text-align: center;
		
			max-height: 70%;
	}

	.img-responsive {
		display: inline;
	}
	.heroText {
		font-size: 45px;
		line-height: 60px;
        @media (max-width: 768px) {
            font-size: 30px;
            line-height: 30px;
        }
	}
	.taglineText {
        font-size: 22px;
        margin: 15px auto;
        max-width: 700px;
        line-height: 1.5;
        @media (max-width: 768px) {
            font-size: 18px;
        }
    }
}

body {
  color: #5C4755;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300 !important;
  margin-top: 70px;
}
a {
  color: #dfb66d;
}
a:hover, a:active, a:focus {
  color: #BF8D67;
}
@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
}
h2 {
  color: #dfb66d;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
}
h3 {
  color: #5c4755;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
}
div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
.header {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 10;
  height: 70px;
  opacity: 0.9;
  margin-top: -70px;
}
.header .navbar-brand {
  font-weight: 900;
  padding: 0px;
}
.header .navbar {
  margin: 0;
  border: none;
}
.navbar-nav > li > a {
  padding-top: 25px;
  padding-bottom: 10px;
  padding: 25px 0px 10px 0px;
  margin-left: 10px;
  margin-right: 10px;
  color: #5C4755;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 13px;
}
.navbar-nav > li > a:hover {
  background-color: #fff;
  border-bottom: 2px solid #dfb66d;
}
.navbar-nav > li > a {
  background-color: #fff !important;
}
.navbar-nav > li.current > a {
  background-color: #fff;
  border-bottom: 2px solid #dfb66d;
}
.navbar-toggle {
  margin-top: 16px;
}
.navbar-toggle .icon-bar {
  background: #dfb66d;
}
.navbar-collapse {
  background-color: #fff;
}
.topSpace {
  padding-top: 100px;
}
.page-header {
  border: none;
  hr {
    border-top-color: #dfb66d;
    text-align: center;
    width: 200px;
  }
}
