.btn {
	text-transform: uppercase;
	color: white;
	background: black;
	border-radius: 0px;
	border: 0;
	padding: 0.8em 3em;
	margin-top: 1em;
	transition: all linear .2s;
	letter-spacing: 2px;
	font-size: 16px;
	font-weight: bold;
}
.btn:hover, .btn:active, .btn:focus {
  background: gray;
  color: white;
}
.alert#consult {
  background-color: #5C4856;
  margin-bottom: 0px;
  border-radius: 0;
  color: white !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}
.page-section {
	padding: 70px 0;
}
.page-section#home {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
}
.page-section#home:after {
	content: "";
	background-image: asset-url('JGHeroImage.jpg');
	background-size: cover;
	background-position: center center;
	opacity: 0.2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 
}
#home {
	.homecontent {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		max-width: 80%;
		max-height: 70%;
		margin: auto;
		text-align: center;
		
   max-height: 70%;
 }

 .img-responsive {
  display: inline;
}
.heroText {
  font-size: 45px;
  line-height: 60px;
  @media (max-width: 768px) {
    font-size: 30px;
    line-height: 30px;
  }
}
.taglineText {
  font-size: 22px;
  margin: 15px auto;
  max-width: 700px;
  line-height: 1.5;
  @media (max-width: 768px) {
    font-size: 18px;
  }
}
}

.page-section#projects {
  height: 100%;
  width: 100%;
  .fa {
    color: #E0B76E;
    text-shadow: none;
  }
}

body {x
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300 !important;
  margin-top: 70px;
}
a {
  color: gray;
}
a:hover, a:active, a:focus {
  color: black;
}
a.navbar-brand:hover {
  color: white;
}
@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
}
h2 {
  color: gray;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
}
h3 {
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
}
div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: black;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
.header {
  position: fixed;
  width: 100%;
  background: black;
  z-index: 10;
  height: 70px;
  opacity: 0.9;
  margin-top: -70px;
}
.header .navbar-brand {
  padding-left: 40px;
  padding-top: 25px;
}
.header .navbar {
  margin: 0;
  border: none;
}
.navbar-nav > li > a {
  padding-top: 25px;
  padding-bottom: 10px;
  padding: 25px 0px 10px 0px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 13px;
}
.navbar-nav > li > a:hover {
  background-color: black;
  border-bottom: 2px solid white;
}
.navbar-nav > li > a {
  background-color: black !important;
}
.navbar-nav > li.current > a {
  background-color: black;
  border-bottom: 2px solid white;
}
.navbar-toggle {
  margin-top: 16px;
}
.navbar-toggle .icon-bar {
  background: white;
}
.navbar-collapse {
  background-color: black;
  padding-left: 2em;
}
.contactform {
  text-align: center;
}
#aboutImage {
  margin-top: .5em;
}
.learnmore {
  margin-top: 2em;
}
.taglineText {
  margin-top: 1em;
}
.carousel-inner {
  background-color: white;
  width: 100%;
  /*max-height: 500px;*/
  height: 30em;
  vertical-align: middle;
}
.carousel-control.right {
  background-image: none;
}
.carousel-control.left {
  background-image: none;
}
.aboutLinks:hover {
  color: black;
}